---
layout: default
title: Home
---

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<div class="kofi-button">
    <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
    <script>
      kofiWidgetOverlay.draw('thesecretherb', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Fuel Growth 🪴',
        'floating-chat.donateButton.background-color': '#40FFDC',
        'floating-chat.donateButton.text-color': '#000000'
      });
    </script>
  </div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

